/* General */

* {
    padding: 0;
    margin: 0
}

/* GameBoard */

.game-board {
    display: flex;
    justify-content: center;
    background-image: url('./img/background.png'); 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Info Box */

.info {
    color: white;
    font-size: 18px;
    display: block;
    height: 100%;
    padding-bottom: 100px;
    margin-right: 15px;
    margin-top: 30px;
}

.info h1 {
    text-align: center;
}

.info p {
    padding-top: 30px;
    margin-left: 20px;
}

.question {
    font-size: 30px;
    margin-top: 70px;
    justify-content: center;
}
/* Controls Box */

.controls{
    color: white;
    font-size: 18px;
    display: block;
    margin-bottom: 600px;
    margin-left: 15px;
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 75px;
    height: 100%;
    margin-top: 30px;
}

.controls h4 {
    padding-bottom: 30px;
}

.buttons {
    padding-top: 20px;
}

.buttons p {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Canvas */

canvas {
/* background-image: url('./img/background.png'); */
/* background-color: ; */
margin-top: 30px;
outline: white 6px solid;
}






